html{
    width: 100%;
    min-height: 1000px;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

body{
    /* background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)); */
    width: 100%;
    display: flex;
    justify-content: center;
}


.accordion{
    width: 350px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 110px;
    padding-bottom: 60px;
}

.accordion-images{
    display: flex;
    justify-content: center;
    background-image: url('../images/bg-pattern-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 49% 20%;
    /* border: solid 1px rgb(196, 18, 121); */
    height: 100px; 
}


.accordion-images__background{
    position: relative;
    top: -100px;
}


.accordion-images img{
    width: 230px;
}


/* Parte two */
.accordion-questions{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.accordion__question{
    /* background-color: aqua; */
}

.accordion-questions h1{
    font-size: 2rem;
    padding-top: 15px;
    margin: auto;
}


.accordion__details{
    width: 85%;
    font-size: 12px;
    margin-top: 10px;
}

.accordion__question h3{
    font-size: 14px;
}

button{
    padding-top: 16px;
}

.accordion__toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: solid 1px rgba(109, 109, 109, 0.377);
    margin-top: 15px;
    padding-top: 20px;
}

#firstBorder{
    border-top: none;
}

#border{
    border-bottom: solid 0.2px rgba(109, 109, 109, 0.377);
    width: 100%;
    padding-top: 20px;
}

.accordion__details{
    /* display: none; */
    padding: 4px 0px 8px 0px;
}









/* JS FIELD */
/* .active{
    display: block;
    transition: all .3s ease-in;
}

.rotate{
    transform: rotate(180deg);
    transition: all .3s ease-in;
}

.accordion__questions--littleBold{
    font-weight: 400;
}

.tittleBold{
    font-weight: 700;
} */ 